
.formResignter {
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}
.resignterPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    width: 700px;
    height: 600px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}
.signButton {
    width: 100%;
}
.signButton button {
    width: 100px;
}
.buttonSocial {
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .resignterPage{
        width: 500px;
        height: 600px;
    }
}

@media screen and (max-width: 576px) {
    .resignterPage{
        width: 350px;
        height: 600px;
    }
}