.reponsiveMobile {
  display: flex;
}
@media screen and (max-width: 576px) {
  .reponsiveMobile {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
@media screen and (max-width: 992px) {
  .reponsiveMobile {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
